<form id="updateForm" data-blog-id="{{id}}">
    <label>Title</label>
    <br>
    <input id="title" value="{{title}}">
    <br>
    <label>Description</label>
    <br>
    <textarea id="content" value="{{content}}"></textarea>
    <br>
    <button type="submit">Update Post</button>
</form>

<script src="/js/update.js"></script>